/* === 颜色定义规范 === */

// ---- 背景色
// 主体
$color-background = #30303a
// 前景色
$color-background-fg = rgba(255,255,255,.2)
// 强调
$color-background-d = #222
// 顶部导航
$color-background-h = #26263a
// 底部导航
$color-background-f = #26263a
// 组件背景色
$color-background-gr = rgba(177, 212, 249, .04)
// 一级导航条
$color-background-bar-one = #26263a
// 二级导航条
$color-background-bar-two = #222
// cells组件背景色
$color-background-cells = rgba(255,255,255,.1)
// weui-toast 组件
$color-background-weui-toast = rgba(32, 25, 47, 0.8)
// 按钮背景色
$color-background-btn-warn = #ec8923

// ---- 边框色
// 列表
$border-color-list = rgba(255, 255, 255, .2)
// 导航
$border-color-navbar = rgba(255, 255, 255, .4)
// 选中
$border-color-select = #f00

// ---- 字体色
// input placeholder 颜色
$txt-color-placeholder = rgba(255,255,255,.2)
// 副文本
$txt-color-two = #999
// 选中
$txt-color-select = #04be02
// 选中字体图标
$txticon-color-select = #f63
// 上涨
$txt-color-up = #1aad19
// 下跌
$txt-color-down = #e64340
// 危险 & 警告 & 首选项 & 成功 & 一般信息
$txt-color-danger = #f00
$txt-color-warn = #f0ad4e
$txt-color-primary = #337ab7
$txt-color-success = #5cb85c
$txt-color-info = #5bc0de

// ---- 其它
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

/* === 高度定义规范 === */
// ---- 导航
// head
$height-header = 50px
// 一级
$height-nav-one = 34px
// 二级
$height-nav-two = 40px
// 输入框
$height-input = 32px

/* === 字体定义规范 === */
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
